
<button
      (click)="onClick.emit()"
      [ngClass]="classes?classes:''"
      type="button"
      class="flex w-full justify-center py-3 md:py-3 px-4 md:px-6 items-center gap-4 rounded-full font-medium text-sm focus:outline-none border"
    >
      <img [src]="logo" alt="image" class="h-8 w-8" />

      @if(!loading){
        <span class="text-md">{{text}}</span>
      }@else{
        Please wait...
        <app-custom-spinner classes="ml-4" [classes]="'w-4 h-4'"></app-custom-spinner>
    }
</button>


