<div
[ngClass]="
  type == 'error'
    ? 'border-danger bg-danger/30 text-white'
    : type == 'success'
      ? 'border-secondary bg-secondary/30 text-white'
      : type == 'warning'
        ? 'border-warning text-white bg-warning/30'
        : 'border-info text-white bg-info/30'
"
class="text-md flex w-full items-center justify-between rounded-md border border-l-4 p-3"
>
<div class="w-full max-w-[90%] text-sm break-words">
  {{ message }}
</div>
<div>
  <span class="text-white text-xl cursor-pointer" (click)="onClose.emit()">X</span>

</div>
</div>
