
    <div
      class="no-scrollbar animate-fade-in fixed inset-0 z-50 flex w-full items-center justify-center overflow-y-auto overflow-x-hidden outline-none backdrop-blur-sm focus:outline-none"

    >
      <div
        class="xs:w-6/12 max-w-sm h-screen flex w-full flex-col items-center justify-center gap-2 md:rounded-[20px] bg-black/30 py-6 shadow-lg md:w-8/12 xl:w-1/2"
      >
        <div class="relative right-4 flex w-full justify-end">
        </div>
        <div class="flex mb-4 w-[60%] flex-col justify-center gap-2">
          <h1 class="text-sm w-full text-white text-center font-semibold">
            Hi {{user.email}}!
          </h1>
      </div>
      <div class="flex mb-4 w-[60%] flex-col justify-center gap-2">
        <h1 class="text-xl w-full text-white text-center font-semibold">
          Welcome to Dashboard
        </h1>
      </div>
      <div class="w-[30%] text-center">
          <app-custom-button
            [buttonClass]="
              'h-14 w-full rounded-full font-bold bg-white md:text-xl text-black'
            "
            (onClick)="logout()"
            [type]="'button'"
            [label]="'Logout'"
          ></app-custom-button>
        </div>
      </div>
    </div>
    <div class="fixed inset-0 z-40 bg-black opacity-25"></div>

